@charset "UTF-8";

.bg-img{
  height: 500px;
  background-image: url(../../image/coffee-background.jpg);
}

.q2{
  background-repeat: no-repeat;
}

.q3{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.q4{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.q2--alt{
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.q3--alt{
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.q4--alt{
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}